{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseURL }}

<div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>{{ .Title }}</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            {{ .Content }}
             <p><br><br><a class="btn btn-block btn-lg btn-success" onclick="jivo_api.open();">Оставьте заявку на подбор тура</a></p>
          </div>
          <div class="col-md-6">
            <table class="table">
              <tbody>
                {{ if .Params.flag }}
                <tr>
                  <td>Флаг</td>
                  <td>
                    <img src="{{ $baseurl }}/{{ .Params.flag }}" class="img-responsive mini-flag">
                  </td>
                </tr>
                {{ end }}
                {{ if .Params.price_from }}
                <tr>
                  <td>Стоимость отдыха</td>
                  <td>от {{ .Params.price_from }} рублей</td>
                </tr>
                {{ end }}
                {{ if .Params.full_title }}
                <tr>
                  <td>Полное название</td>
                  <td>{{ .Params.full_title }}</td>
                </tr>
                {{ end }}
     
                {{ if .Params.capital }}
                <tr>
                  <td>Административный центр</td>
                  <td>{{ .Params.capital }}</td>
                </tr>
                {{ end }}
                {{ if .Params.region }}
                <tr>
                  <td>Федеральный округ</td>
                  <td>{{ .Params.region }}</td>
                </tr>
                {{ end }}
                {{ if .Params.area }}
                <tr>
                  <td>Площадь</td>
                  <td>{{ .Params.area }}</td>
                </tr>
                {{ end }}
                {{ if .Params.population }}
                <tr>
                  <td>Численность населения</td>
                  <td>{{ .Params.population }}</td>
                </tr>
                {{ end }}
                {{ if .Params.timezone }}
                <tr>
                  <td>Часовой пояс</td>
                  <td>{{ .Params.timezone }}</td>
                </tr>
                {{ end }}
              </tbody>
            </table>
            {{ if .Params.photo }}
            <img src="{{ $baseurl }}/{{ .Params.photo }}" class="img-responsive">
            {{ end }}
          </div>
        </div>
      </div>
    </div>

{{ partial "footer.html" . }}