   <footer class="section section-success">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h1>Наши контакты</h1>
                        <address>
                        <p>г. Анапа, ул. Гребенская, 78
                            <br>Телефоны: +7 (86133) 3-25-36,&nbsp;+7 (988) 670-71-20
                            <br>WhatsApp, Viber: +7 (989) 764-27-07
                            <br>Email:&nbsp;
                            <a href="mailto:mail@kuda.pro">mail@kuda.pro</a>
                        </p>
                        </address>
                    </div>
                    <div class="col-sm-6">
                        <p class="text-info text-right">
                            <br>
                            <br>
                        </p>
                        <div class="row">
                            <div class="col-md-12 hidden-lg hidden-md hidden-sm text-left">
                                <a href="//www.instagram.com/akademiya_turizma?ref=kuda.pro" title="Instagram"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                                <a href="//vk.com/akademiyaturizmaanapa?ref=kuda.pro" title="ВКонтакте"><i class="fa fa-3x fa-fw fa-vk text-inverse"></i></a>
                                <a href="//www.facebook.com/AkademiyaTravel?ref=kuda.pro" title="Facebook"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                                <a href="//ok.ru/profile/536793932986?ref=kuda.pro" title="Одноклассники"><i class="fa fa-3x fa-fw text-inverse fa-users"></i></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 hidden-xs text-right">
                                <a href="//www.instagram.com/akademiya_turizma?ref=kuda.pro" title="Instagram"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                                <a href="//vk.com/akademiyaturizmaanapa?ref=kuda.pro" title="ВКонтакте"><i class="fa fa-3x fa-fw fa-vk text-inverse"></i></a>
                                <a href="//www.facebook.com/AkademiyaTravel?ref=kuda.pro" title="Facebook"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                                <a href="//ok.ru/profile/536793932986?ref=kuda.pro" title="Одноклассники"><i class="fa fa-3x fa-fw text-inverse fa-users"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    
      <!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter5013715 = new Ya.Metrika({id:5013715,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/5013715" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-497656-13', 'kuda.pro');
  ga('send', 'pageview');

</script>

<!-- BEGIN JIVOSITE CODE {literal} -->
<script type='text/javascript'>
(function(){ var widget_id = 'mcQIGq0xkQ';
var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);})();</script>
<!-- {/literal} END JIVOSITE CODE -->

</body></html>