{{ partial "header_index.html" . }}
{{ $baseurl := .Site.BaseURL }}

   <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-primary">Наши преимущества</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <h1 class="text-center text-success">
                            <i class="fa fa-2x fa-fw fa-thumbs-up"></i>
                        </h1>
                        <h3 class="text-center">Только надежные туроператоры</h3>
                    </div>
                    <div class="col-md-2">
                        <h1 class="text-center text-muted">
                            <i class="fa fa-2x fa-fw umbs-up fa-money"></i>
                        </h1>
                        <h3 class="text-center">Лучшие цены</h3>
                    </div>
                    <div class="col-md-4">
                        <h1 class="text-center">
                            <i class="fa fa-2x fa-cc-visa fa-fw text-primary umbs-up"></i>
                        </h1>
                        <h3 class="text-center">Наличный и безналичный расчет</h3>
                    </div>
                    <div class="col-md-2">
                        <h1 class="text-center">
                            <i class="fa fa-2x fa-fw fa-globe text-success umbs-up"></i>
                        </h1>
                        <h3 class="text-center">Оформление виз</h3>
                    </div>
                    <div class="col-md-2">
                        <h1 class="text-center">
                            <i class="fa fa-2x fa-fw fa-plane text-primary umbs-up"></i>
                        </h1>
                        <h3 class="text-center">Продажа авиа и ж/д билетов</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="section"></div>
        <div class="section section-success">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-info text-left">Страны и цены</h1>
                    </div>
                </div>                
                
                {{ $cols := 4}}
                {{ $colmd := div 12 $cols }}
                {{ $countries := where .Data.Pages "Section" "country" }}     
                {{ $ordered :=  first 8 $countries.ByWeight }} 
                {{ $len := len $ordered }}
                {{$extraRequired := mod (sub $cols (mod $len $cols)) $cols }}
                <!-- Columns: {{ $cols}}, Elements: {{ $len }}, Extra Elements Required: {{$extraRequired}} -->               
                                
                {{ range $key, $value := $ordered }}
                {{ $isLastElem := not (sub (sub $len 1) $key) }}
                {{ if modBool $key $cols }}
                <div class="row countries">  
                    {{end}}
                    <div class="col-md-{{$colmd}}">
                        <a href='{{ .Permalink }}'><img src="{{ $baseurl }}/{{ .Params.flag }}" class="img-responsive img-thumbnail"></a>
                        <h3>{{ .Title }}</h3>
                        <p>от {{ .Params.price_from }} рублей</p>
                    </div>
                    {{ if and $isLastElem $extraRequired }}
                    {{range first $extraRequired .Site.Params.bootstrapCols}}
                    <div class="col-md-{{$colmd}}"></div>
                    {{end}}
                    {{end}}
                    {{ if or (modBool (add $key 1) $cols) $isLastElem }}
                </div>{{end}}
                {{end}}
                       
                <div class="row">
                    <div class="col-md-12">
                         <h3><a href='{{ $baseurl }}/country.html'>посмотреть весь список стран...</a></h3>
                    </div>
                </div>
            
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-primary">Отзывы наших клиентов</h1>
                        <br>
                        {{ $mention := where .Data.Pages "Section" "mention" }}
                        {{ range first 3 $mention }}
                        <p class="lead">
                            {{ .Content }}
                            <b>{{ .Params.author }}</b>
                            <br><br>
                        </p>
                        {{ end }}  
                        
                        <h3><a href='{{ $baseurl }}/mention.html'>еще отзывы...</a></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-primary">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-info text-left">Наша команда</h1>
                        <br><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <img src="{{ $baseurl }}/images/managers/alena.jpg" class="center-block img-circle img-responsive">
                        <h3 class="text-center">Алёна Турчина</h3>
                    </div>
                    <div class="col-md-4">
                        <img src="{{ $baseurl }}/images/managers/albina.jpg" class="center-block img-circle img-responsive">
                        <h3 class="text-center">Альбина Ягнёнкова</h3>
                    </div>
                    <div class="col-md-4">
                        <img src="//pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png" class="center-block img-circle img-responsive">
                        <h3 class="text-center">Татьяна Гнездышкина</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="section map">
            <div class="container-fluid">
                <script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=690Uahv1btQk_S1FLoyw6DDsNmicZlFm&amp;width=100%&amp;height=450&amp;lang=ru_RU&amp;sourceType=constructor"></script>
            </div>
        </div>


{{ partial "footer.html" . }}