{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseURL }}

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Блог</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
            <ul class="posts list-unstyled">
                {{ range .Data.Pages }}
                <li>
                    <h4>{{ .Date.Format  "02.01.2006" }}&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ .Permalink }}">{{ .Title }}</a></h4>

                </li>
                {{ end }}
            </ul>
            </div>
        </div>
    </div>
</div>

{{ partial "footer.html" . }}