{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseURL }}

<div class="section">
    <div class="container">
    <div class="row">
        <div class="col-md-12">
        <h1>Туризм в Российской Федерации</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        <p>В последнее время набирает популярность внутренний туризм. На этой странице вы можете ознакомиться с направлениями по которым мы работаем в России.</p>
            
        <p>Отдых в России — это огромные просторы, разнообразие ландшафтов и климатических зон от черноморских субтропиков до суровых красот Байкала. Это богатая многовековая история с уникальными обычаями и традициями, радушие и гостеприимство народов, населяющих нашу страну.</p>
        <p>Безусловно, объехать полмира, побывать на всех модных курортах — это здорово. Но хороший отдых — это не всегда отдых за границей. Многие из нас ни разу не были на Волге, на озере Селигер, не знакомы ни с одним городом «Золотого кольца», не говоря уже об огромном количестве других уникальных мест, которыми так богата Россия.</p>
        <p>Отдых в России имеет массу преимуществ: отсутствие языкового барьера и проблем с обменом валюты, отсутствие необходимости в оформлении визы (экономия времени и денег), недорогие и интересные туры выходного дня, увлекательный экскурсионный отдых, комфортабельный пляжный отдых, насыщенный активный отдых, захватывающий горнолыжный отдых, манящие круизы, эффективный оздоровительный отдых и многое другое. И, конечно же, отдых в России — это более умеренная стоимость по сравнению с путешествиями за рубеж.</p>
            
       
       <h3>Популярные направления</h3>      
        <table class="table">
            <tbody>
            {{ range .Data.Pages.ByWeight }}
            <tr>
                <td>{{ if .Params.flag }}<img src="{{ $baseurl }}/{{ .Params.flag }}" class="img-responsive mini-flag">{{ else }}<img src="{{ $baseurl }}/images/flags/russia_flag.png" class="img-responsive mini-flag">{{ end }}</td>
                <td><a href="{{ .Permalink }}">{{ .Title }}</a></td>
                <td>от {{ .Params.price_from }} рублей</td>
            </tr>
            {{ end }}
            </tbody>
        </table>
        </div>
    </div>
    </div>
</div>

{{ partial "footer.html" . }}
